{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Local Healthy Foods</title>
{% endblock %}
{% block content %}
<section class="section">
    <div style="text-align: center;">
        <h1 class="title is-4 font-prompt"><u>อาหารพื้นเมืองที่มีสรรพคุณต่อสุขภาพตามวิถีภูมิปัญญาท้องถิ่นของจังหวัดอุบลราชธานี</u></h1>
    </div>
<section class="section">
    <div class="container">
        <div class="columns is-centered is-multiline">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://firebasestorage.googleapis.com/v0/b/food-f3d1e.appspot.com/o/card-01.jpg?alt=media&token=f0d815bf-3e4b-4d12-b980-5cc19ad3208e" alt="เมี่ยงคำกลีบบัวหลวง" width="100%">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <h2 class="title is-5 font-mitr">เมี่ยงคำกลีบบัวหลวงแบบโบราณ</h2>
                        <p class="font-sarabun">เมี่ยงคำกลีบบัวหลวง เป็นอาหารพื้นเมืองที่เป็นเอกลักษณ์ของจังหวัดอุบลราชธานี นอกจากจะมีความสวยงามประณีตแล้ว ยังมีคุณค่าทางสุขภาพสูง เป็นอาหารที่แฝงไปด้วยภูมิปัญญาท้องถิ่นและสรรพคุณทางยาจากสมุนไพรไทย ซึ่งมีประโยชน์ทั้งในด้านการบำรุงธาตุ บำรุงร่างกาย และช่วยรักษาสมดุลของร่างกายได้ดี</p>
                        <a href="miangkham" class="button is-primary is-dark">เรียนรู้เพิ่มเติม »</a>
                    </div>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://firebasestorage.googleapis.com/v0/b/food-f3d1e.appspot.com/o/card-02.jpg?alt=media&token=3a170ca8-7b2b-49b4-b3d6-3bc5e7903e02" alt="ปลาส้มทรงเครื่องสมุนไพร">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <h2 class="title is-5 font-mitr">ปลาส้มทรงเครื่องสมุนไพร</h2>
                        <p class="font-sarabun">
                            ปลาส้มทรงเครื่องสมุนไพร เป็นอาหารพื้นเมืองที่เป็นเอกลักษณ์ของจังหวัดอุบลราชธานี โดยมีจุดเด่นทั้งในด้านรสชาติและสรรพคุณทางสุขภาพ สืบทอดมาหลายชั่วอายุคน เป็นภูมิปัญญาท้องถิ่นที่ผสมผสานการถนอมอาหารแบบดั้งเดิมกับการใช้สมุนไพรเพื่อเพิ่มคุณค่าให้กับอาหาร</p>
                        <a href="fishorange" class="button is-primary is-dark">เรียนรู้เพิ่มเติม »</a>
                    </div>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://firebasestorage.googleapis.com/v0/b/food-f3d1e.appspot.com/o/card-03.jpg?alt=media&token=fef81815-f120-43f4-9302-096a4b1aa0ec" alt="หมี่กะทิ">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <h2 class="title is-5 font-prompt">หมี่กะทิ</h2>
                        <p class="font-sarabun"> หมี่กะทิ เป็นอาหารพื้นเมืองที่มีต้นกำเนิดจากจังหวัดอุบลราชธานี มีความโดดเด่นและเป็นเอกลักษณ์เฉพาะถิ่น เป็นอาหารที่สะท้อนถึงภูมิปัญญาท้องถิ่นและวัฒนธรรมการกินของชาวอีสานที่สืบทอดกันมารุ่นต่อรุ่น หมี่กะทิมีส่วนผสมจากวัตถุดิบธรรมชาติที่หาได้ในท้องถิ่น ซึ่งมีประโยชน์ต่อสุขภาพ และถูกปรุงอย่างประณีตตามสูตรโบราณ</p>
                        <a href="meekrathee" class="button is-primary is-dark">เรียนรู้เพิ่มเติม »</a>
                    </div>
                </div>
            </div>

            
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://firebasestorage.googleapis.com/v0/b/food-f3d1e.appspot.com/o/card-04.jpg?alt=media&token=5de5f969-5176-4c39-a5ce-f77315485541" alt="หลนเค็มบักนัด">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <h2 class="title is-5 font-mitr">หลนเค็มบักนัด</h2>
                        <p class="font-sarabun">
                            หลนเค็มบักนัด เป็นอาหารพื้นเมืองของจังหวัดอุบลราชธานีที่มีความโดดเด่นทั้งในด้านรสชาติและสรรพคุณทางสุขภาพ โดยเป็นเมนูที่สะท้อนถึงภูมิปัญญาในการถนอมอาหารด้วยการหมักดอง ซึ่งใช้ เนื้อปลาจากแม่น้ำมูล อย่างปลาสวายหรือปลาเทโพ ร่วมกับ หมากนัด (ภาษาท้องถิ่นที่หมายถึงสับปะรด) และ เกลือสินเธาว์ ที่เป็นเกลือพื้นบ้านของภาคอีสาน การดองเค็มแบบนี้ช่วยให้เก็บรักษาได้นานและได้รสชาติเปรี้ยวเค็มหวานกลมกล่อม
                        </p>
                        <a href="Lonkembaknat" class="button is-primary is-dark">เรียนรู้เพิ่มเติม »</a>
                    </div>
                </div>
            </div>


            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://firebasestorage.googleapis.com/v0/b/food-f3d1e.appspot.com/o/card-05.jpg?alt=media&token=5d2a86b4-b8a8-4eb8-9991-8a685acc9f5c" alt="แกงเห็ดเผาะไข่มดแดง">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <h2 class="title is-5 font-mitr">แกงเห็ดเผาะไข่มดแดง</h2>
                        <p class="font-sarabun">
                           
แกงเห็ดเผาะไข่มดแดง เป็นอาหารพื้นเมืองของจังหวัดอุบลราชธานีที่ผสานสรรพคุณทางสุขภาพและภูมิปัญญาท้องถิ่น ใช้วัตถุดิบจากธรรมชาติ เช่น เห็ดเผาะ ไข่มดแดง และผักหวาน ที่มีคุณค่าทางโภชนาการสูง เช่น เห็ดเผาะมีโปรตีน แร่ธาตุ และสรรพคุณทางยา ช่วยบำรุงร่างกาย แก้ร้อนใน แก้ไข้ และช่วยลดการอักเสบ ส่วนไข่มดแดงมีโปรตีน ฟอสฟอรัส และแคลเซียม ช่วยระบายท้อง และเจริญอาหาร ผักหวานเป็นแหล่งโปรตีน วิตามินซี และสารต้านอนุมูลอิสระ ที่ช่วยป้องกันโรคมะเร็ง โรคหัวใจขาดเลือด และช่วยบำรุงกระดูก
                        </p>
                        <a href="kanghetphor" class="button is-primary is-dark">เรียนรู้เพิ่มเติม »</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
