{% extends "base.html" %}
{% block title %}
<title>Meekrathee</title>
{% endblock %}
{% block content %}
<section class="section">
    <div style="text-align: center;">
        <h1 class="title is-4 font-prompt"><u>อาหารพื้นเมืองที่มีสรรพคุณต่อสุขภาพตามวิถีภูมิปัญญาท้องถิ่นของจังหวัดอุบลราชธานี</u></h1>
    </div>
<section class="section">
    <div class="container">
        <div class="columns is-centered is-multiline">
            <div class="column is-full">
                <div class="box has-text-centered">
                    <div class="is-flex is-justify-content-center">
                    <figure class="image" style="width: 300px; height: auto;">
                        <img src="" alt="เมี่ยงคำกลีบบัวหลวงแบบโบราณ">
                    </figure>
                    </div>
                    <h2 class="title is-5 font-mitr mt-4">เมี่ยงคำกลีบบัวหลวงแบบโบราณ</h2>
                    <p class="font-sarabun has-text-left mt-4">

                        <div class="columns is-centered mt-4">
                        <div class="is-flex is-justify-content-center">
                            <figure class="image" style="width: 300px; height: auto;">
                                <img src="">
                        </div>
                        <div class="is-flex is-justify-content-center">
                            <figure class="image" style="width: 300px; height: auto;">
                                <img src="">
                            </figure>
                        </div>
                    </div>
        
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}






<div class="column is-one-third">
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="" alt="ปลาส้มทรงเครื่องสมุนไพร">
            </figure>
        </div>
        <div class="card-content has-text-centered">
            <h2 class="title is-5 font-mitr">แกงเห็ดเผาะไข่มดแดง</h2>
            <p class="font-sarabun">
               
            </p>
            <a href="Lonkembaknat" class="button is-primary is-dark">เรียนรู้เพิ่มเติม »</a>
        </div>
    </div>
</div>